body {
			background-image: linear-gradient(to bottom right, papayaWhip, linen);
		}
		
		h1 {
			text-align: center;
			font-family: Calibri, Arial, sans-serif;
		}
		
		h2 {
			text-align: center;
			margin-left: 400px;
			margin-right: 400px;
			font-family: Calibri, Arial, sans-serif;
		}
		
		p {
			margin-left: 400px;
			margin-right: 400px;
			font-family: Calibri, Arial, sans-serif;
		}
		
		iframe {
			margin-left: 400px;
			margin-right: 400px;
		}
		
		.links {
			display: flex;
			column-gap: 20px;
            justify-content: center;
		}
		
		button {
			border: none;
			background-color: transparent;
			padding: 5px 10px;
			border-radius: 8px;
			
			transition: .5s;
		}
		
		button:hover {
			box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
			background-color: white;
		}